.sidebar-layout {
  min-height: 92vh;

  .sidebar {
    flex-basis: 16.5%;
    min-width: 240px;
    height: 100vh;
    margin-top: -58px;
    position: sticky;
    top: 0px;
  }

  .main {
    flex-basis: 83.5%;
  }
}

.sidebar-inner::-webkit-scrollbar {
  display: none;
}

.sidebar-inner:hover::-webkit-scrollbar {
  display: block;
}

.sidebar-inner {
  padding: (12px + 58px) 0px 12px;
  padding-right: 20px;
  gap: 12px;
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &:hover {
    scrollbar-color: #888 transparent;
  scrollbar-width: thin;
  }

  .sidebar-container {
    .section-title {
      color: #606060;
      display: block;
      padding: 8px 0px 8px 24px;
      letter-spacing: 0.5px;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
    }

    .sidebar-link {
      cursor: pointer;
      padding-left: 24px;
      display: flex;
      width: 100%;
      align-items: center;
      text-decoration: none;
      gap: 15px;
      height: 40px;
      color: #030303;
      span {
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 14px;
        font-weight: 400;
        padding-top: 5px;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    .active {
      background-color: #e5e5e5;
      font-weight: 500;
      &:hover {
        background-color: #d7d7d7;
      }
    }

    .disabled {
      pointer-events: none;
    }
  }

  hr {
    color: rgba(0, 0, 0, 0.1);
  }
}