.feed-container {
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;

  .feed-header {
    position: sticky;
    z-index: 2;
    padding: 0 10px;
    top: 58px;
    height: 58px;
    display: grid;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;

    .categories::-webkit-scrollbar {
      display: none;
    }

    .categories {
      align-items: center;
      gap: 20px;
      flex-wrap: nowrap;
      max-width: 100%;
      min-width: 100%;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      .filter {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #030303;
        padding: 0 3px;
        transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
        height: 32px;
        min-width: max-content;
        padding: 0 10px;
        border-radius: 16px;
        box-sizing: border-box;
        outline: none;
        align-items: center;
        display: flex;
        font-size: 14px;
        letter-spacing: 0.2px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      .active {
        background-color: #030303;
        color: #fff;
        &:hover {
          pointer-events: none;
        }
      }
    }
  }

  .feed-body {
    z-index: 1;
    min-height: 84vh;
    padding: 25px 0px;
    background-color: #f9f9f9;
    display: grid;
    justify-content: center;

    .content {
      margin: 0px 16px;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 5px;
      row-gap: 30px;

      .shorts {
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 100%;
        min-width: 100%;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 0px;
        gap: 5px;
        row-gap: 30px;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
